// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2021 Rockchip Electronics Co., Ltd.
 * Copyright (c) 2024 LYT Technology
 */

/dts-v1/;
#include "rk3568.dtsi"

/ {
	model = "LYT-T68M RK3568 Board";
	compatible = "lyt,t68m", "rockchip,rk3568";

	aliases {
		serial0 = &uart2;
		ethernet0 = &gmac0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x0 0x0 0x80000000>; // 2GB RAM
	};

	dc_12v: dc-12v {
		compatible = "regulator-fixed";
		regulator-name = "dc_12v";
		regulator-min-microvolt = <12000000>;
		regulator-max-microvolt = <12000000>;
		regulator-always-on;
		regulator-boot-on;
	};

	vcc3v3_sys: vcc3v3-sys {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_sys";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&dc_12v>;
		regulator-always-on;
		regulator-boot-on;
	};

	vcc5v0_sys: vcc5v0-sys {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_sys";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&dc_12v>;
		regulator-always-on;
		regulator-boot-on;
	};

	vcc3v3_pcie: vcc3v3-pcie {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_pcie";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vcc3v3_sys>;
		regulator-always-on;
		regulator-boot-on;
	};

	vcc3v3_minipcie: vcc3v3-minipcie {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_minipcie";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vcc3v3_pcie>;
		regulator-always-on;
		regulator-boot-on;
	};

	vdd_cpu: vdd-cpu {
		compatible = "pwm-regulator";
		regulator-name = "vdd_cpu";
		regulator-min-microvolt = <800000>;
		regulator-max-microvolt = <1400000>;
		pwm-supply = <&vcc3v3_sys>;
		pwms = <&pwm2 0 2500 0>;
		pwm-dutycycle-range = <100 0>;
		regulator-always-on;
		regulator-boot-on;
	};

	vdd_gpu: vdd-gpu {
		compatible = "pwm-regulator";
		regulator-name = "vdd_gpu";
		regulator-min-microvolt = <800000>;
		regulator-max-microvolt = <1200000>;
		pwm-supply = <&vcc3v3_sys>;
		pwms = <&pwm3 0 2500 0>;
		pwm-dutycycle-range = <100 0>;
		regulator-always-on;
		regulator-boot-on;
	};
};

&cpu0 {
	cpu-supply = <&vdd_cpu>;
	operating-points-v2 = <&cpu_opp_table>;
	clocks = <&cru CLK_CPU>;
	clock-latency = <100000>;
};

&cpu1 {
	cpu-supply = <&vdd_cpu>;
	operating-points-v2 = <&cpu_opp_table>;
	clocks = <&cru CLK_CPU>;
	clock-latency = <100000>;
};

&cpu2 {
	cpu-supply = <&vdd_cpu>;
	operating-points-v2 = <&cpu_opp_table>;
	clocks = <&cru CLK_CPU>;
	clock-latency = <100000>;
};

&cpu3 {
	cpu-supply = <&vdd_cpu>;
	operating-points-v2 = <&cpu_opp_table>;
	clocks = <&cru CLK_CPU>;
	clock-latency = <100000>;
};

&gpu {
	mali-supply = <&vdd_gpu>;
	operating-points-v2 = <&gpu_opp_table>;
	clocks = <&cru CLK_GPU>;
	clock-latency = <100000>;
	status = "okay";
};

&cpu_opp_table {
	opp-1008000000 {
		opp-hz = /bits/ 64 <1008000000>;
		opp-microvolt = <800000>;
	};
	opp-1200000000 {
		opp-hz = /bits/ 64 <1200000000>;
		opp-microvolt = <850000>;
	};
	opp-1416000000 {
		opp-hz = /bits/ 64 <1416000000>;
		opp-microvolt = <900000>;
	};
	opp-1512000000 {
		opp-hz = /bits/ 64 <1512000000>;
		opp-microvolt = <950000>;
	};
	opp-1608000000 {
		opp-hz = /bits/ 64 <1608000000>;
		opp-microvolt = <1000000>;
	};
	opp-1704000000 {
		opp-hz = /bits/ 64 <1704000000>;
		opp-microvolt = <1050000>;
	};
	opp-1800000000 {
		opp-hz = /bits/ 64 <1800000000>;
		opp-microvolt = <1100000>;
	};
};

&gpu_opp_table {
	opp-200000000 {
		opp-hz = /bits/ 64 <200000000>;
		opp-microvolt = <800000>;
	};
	opp-400000000 {
		opp-hz = /bits/ 64 <400000000>;
		opp-microvolt = <850000>;
	};
	opp-600000000 {
		opp-hz = /bits/ 64 <600000000>;
		opp-microvolt = <900000>;
	};
	opp-800000000 {
		opp-hz = /bits/ 64 <800000000>;
		opp-microvolt = <950000>;
	};
};

&uart2 {
	status = "okay";
	pinctrl-0 = <&uart2m0_xfer>;
	pinctrl-names = "default";
};

&fiq_debugger {
	compatible = "rockchip,fiq-debugger";
	rockchip,serial-id = <2>;
	rockchip,phy-mode = "uart";
	rockchip,reg-phy-mask = <0x20>;
	interrupts = <GIC_SPI 25 IRQ_TYPE_LEVEL_HIGH>;
	rockchip,baudrate = <115200>; /* Standard baudrate for debug */
	status = "okay";
};

&gmac0 {
	phy-handle = <&rgmii_phy>;
	phy-mode = "rgmii";
	clock_in_out = "output";
	snps,reset-gpio = <&gpio0 RK_PA4 GPIO_ACTIVE_LOW>;
	snps,reset-active-low;
	snps,reset-delays-us = <0 10000 1000000>;
	pinctrl-0 = <&gmac0_miim
		     &gmac0_rgmii_clk
		     &gmac0_rgmii_tx
		     &gmac0_rgmii_rx>;
	pinctrl-names = "default";
	status = "okay";
};

&mdio0 {
	rgmii_phy: ethernet-phy@0 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0>;
		phy-mode = "rgmii";
	};
};

&pcie3x2 {
	reset-gpios = <&gpio0 RK_PB4 GPIO_ACTIVE_LOW>;
	vpcie3v3-supply = <&vcc3v3_pcie>;
	vpcie1v8-supply = <&vcc3v3_sys>;
	vpcie0v9-supply = <&vcc3v3_sys>;
	pinctrl-0 = <&pcie3x2_rst>;
	pinctrl-names = "default";
	status = "okay";
	
	pcie@00 {
		reg = <0x000000 0 0 0 0>;
		#address-cells = <3>;
		#size-cells = <2>;
		device_type = "pci";
		ranges;
		bus-range = <0x00 0xff>;
		
		minipcie@0,0 {
			reg = <0x0000 0 0 0 0>;
			vcc3v3-supply = <&vcc3v3_minipcie>;
			status = "okay";
		};
	};
};

&pwm2 {
	status = "okay";
};

&pwm3 {
	status = "okay";
};

&nandc0 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "disabled"; /* Disable NAND if not present */
};

&emmc {
	bus-width = <8>;
	max-frequency = <200000000>;
	cap-mmc-highspeed;
	mmc-ddr-1_8v;
	mmc-hs200-1_8v;
	pinctrl-0 = <&emmc_clk &emmc_cmd &emmc_bus8>;
	pinctrl-names = "default";
	status = "okay";
};

&sdmmc0 {
	bus-width = <4>;
	max-frequency = <150000000>;
	cap-mmc-highspeed;
	cap-sd-highspeed;
	pinctrl-0 = <&sdmmc0_clk &sdmmc0_cmd &sdmmc0_bus4>;
	pinctrl-names = "default";
	status = "okay";
};

&i2c0 {
	status = "okay";
	clock-frequency = <400000>;
	pinctrl-0 = <&i2c0_scl &i2c0_sda>;
	pinctrl-names = "default";
	
	rtc@51 {
		compatible = "nxp,pcf8563";
		reg = <0x51>;
		status = "okay";
	};
};

&usb2_0 {
	status = "okay";
	dr_mode = "host";
	pinctrl-0 = <&usb2_0_drv>;
	pinctrl-names = "default";
};

&usb3_0 {
	status = "okay";
	dr_mode = "host";
	pinctrl-0 = <&usb3_0_drv>;
	pinctrl-names = "default";
};

&hdmi {
	status = "okay";
	ddc-i2c-bus = <&i2c4>;
	pinctrl-0 = <&hdmi_cec &hdmi_hpd &hdmi_scl &hdmi_sda>;
	pinctrl-names = "default";
};

&display_subsystem {
	status = "okay";
};

&dsi0 {
	status = "disabled"; /* Disable DSI if not used */
};

&lvds {
	status = "disabled"; /* Disable LVDS if not used */
};

&codec {
	status = "okay";
};

&hdmi_sound {
	status = "okay";
};

&spi0 {
	status = "okay";
	clock-frequency = <50000000>;
	pinctrl-0 = <&spi0_cs0 &spi0_sclk &spi0_mosi &spi0_miso>;
	pinctrl-names = "default";
	
	flash@0 {
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <50000000>;
	};
};

&watchdog {
	status = "okay";
	timeout-sec = <120>;
};

&thermal {
	status = "okay";
	rockchip,hw-tshut-temp = <100000>;
	rockchip,hw-tshut-mode = <0>;
};
